<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>

<!-- Navbar va aquí, fuera de container para que ocupe toda la anchura -->
<div th:replace="fragments :: navbar"></div>

<!-- Contenido principal -->
<div class="container mt-4">

    <h1>ToDoList</h1>

    <ul>
        <li>Desarrollada por Janhzar Daniel Macias Garcia</li>
        <li>Versión 1.0.1</li>
        <li>Fecha de release: 28/5/2025</li>
    </ul>

</div>

<div th:replace="fragments :: javascript"></div>

</body>

</html>
