<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>

<div th:replace="fragments :: navbar"></div>

<div class="container mt-4">

    <h1>ToDoList - Equipo 5</h1> <!-- Nombre actualizado del equipo -->

    <!-- NUEVA SECCIÓN DE AUTORES -->
    <div class="autores">
        <h3>Desarrollado por:</h3>
        <ul>
            <li>Francisco Sánchez</li>
			<li>Alejandro Minda</li>
            <li>Carlos Villarreal</li>
        </ul>
    </div>

    <ul>
        <li>Versión 1.3.0-SNAPSHOT</li> <!-- Versión actualizada -->
        <li>Fecha de release: 28/5/2025</li>
    </ul>

</div>

<div th:replace="fragments :: javascript"></div>

</body>

</html>
